@page
@model ServerDemo.Pages.ImagesModel
@{
    ViewData["Title"] = "Images";
}

    <div class="text-center">
        <img src="~/images/100_Continue.jpg" /><br />
        <img src="~/images/204_NoContent.jpg" /><br />
        <img src="~/images/413_TooLarge.jpg" /><br />
        <img src="~/images/417_ExpectaionFailed.jpg" /><br />
        <img src="~/images/500_InternalError.jpg" /><br />
        <img src="~/images/599_NetworkTimeout.jpg" /><br />
    </div>
